<form action="/somar" method="post">

    Digite 1° valor: <input type="number" name="v1"><br>
    Digite 2° valor: <input type="number" name="v2"><br>

    <button type="submit"> somar </button>

</form>